# Bytecode
__pycache__/
*.py[cod]

# Build artifacts
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/
env/
test-env/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Python
*.log